<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>My first app</title>
    </head>
    <body>
        <header>
            This is a header
        </header>
        <p id=g4lIkXSU2ktZv93e>
<div style="text-align: left"><p id="rBxzoyTFjVIoQHys">this is the first one
<div style="text-align: left"><button id="dEeZqE1uiRWf2GyE">click me!</button>
</div></p></div>
<div style="text-align: right"><p id="ywyAGQdHE9eDMC9D">this is the second one
</p></div>
<div style="text-align: center"><p id="Jx7kf9aWmgPcKrOU">this is the third one
</p></div></p>
        <footer>
            This is a footer
        </footer>
        
    </body>
</html>