<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>My first app</title>
    </head>
    <body>
        <header>
            This is a header
        </header>
        <p id=P3MiN3FgGFIT2uex>
<div style="text-align: left"><p id="s5Of5EUSaf2fY9jO">this is the first one
<div style="text-align: left"><button id="8pfKB0F3TP7tcRwb">click me!</button>
</div></p></div>
<div style="text-align: center">
<img alt="boa image" height="100px" id="BwEI4G954RmpmhMd" src="./static/logo.png" title="this is an image" width="100px"/>
</div>
<div style="text-align: right"><p id="szALHtIUuGqKBYlT">this is the second one
</p></div>
<div style="text-align: center"><p id="95fRBYR17DqLQaQo">this is the third one
</p></div></p>
        <footer>
            This is a footer
        </footer>
        
    </body>
</html>