<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>My first app</title>
    </head>
    <body>
        <header>
            This is a header
        </header>
        <p id=kZSyyhT9o7VvTa3B>
<div style="text-align: left"><p id="mmAIQMuBe64UdwwZ">this is the first one
<div style="text-align: left"><button id="EtFbumW1HibB4Qp2">click me!</button>
</div></p></div>
<div style="text-align: right"><p id="KwgCTMzvF7g3vzXp">this is the second one
</p></div>
<div style="text-align: center"><p id="xJvsAbi94TBH0JQG">this is the third one
</p></div></p>
        <footer>
            This is a footer
        </footer>
        
    </body>
</html>